In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame()

In [3]:
type(df1)

pandas.core.frame.DataFrame

In [4]:
print(df1)

Empty DataFrame
Columns: []
Index: []

In [9]:
student_list = [['bobby',1,'hum','khush'],
                 ['help',1000,'kabhi','khushi']]

In [10]:
student_df= pd.DataFrame(student_list)

In [11]:
student_df

       0     1      2       3
0  bobby     1    hum   khush
1   help  1000  kabhi  khushi

In [13]:
student_df= pd.DataFrame(student_list,columns=['naam','num','ap','jazbat'])

In [14]:
student_df

    naam   num     ap  jazbat
0  bobby     1    hum   khush
1   help  1000  kabhi  khushi

In [15]:
student_df= pd.DataFrame(student_list,columns=['naam','num','ap','jazbat'],index=['pak','afg'])

In [16]:
student_df

      naam   num     ap  jazbat
pak  bobby     1    hum   khush
afg   help  1000  kabhi  khushi

In [17]:
students_dict= {'naam':['bobby','shah'], 'num':[100,98], 'ap':['hum','tum'], 'jazbat':['khush', 'udas'],}

In [18]:
student_df2= pd.DataFrame(students_dict)

In [19]:
student_df2

    naam  num   ap jazbat
0  bobby  100  hum  khush
1   shah   98  tum   udas

In [20]:
student_df2= pd.DataFrame(students_dict, index=['helo','deer'])

In [21]:
student_df2

       naam  num   ap jazbat
helo  bobby  100  hum  khush
deer   shah   98  tum   udas

In [22]:
student_df2.shape

(2, 4)