In [2]:
import pandas as pd

In [3]:
data =pd.read_csv('C:\\Users\\HM\\Downloads\\Datasets\\wine.csv')

In [4]:
data.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [5]:
#providing input and output data data
import numpy as np

In [6]:
#input data (x, regressor)
x = np.array(data["Alcohol"]).reshape(-1,1)

In [7]:
x.shape

(178, 1)

In [8]:
# the output data (y, predetator)
y = np.array(data['Acl'])

In [9]:
y.shape

(178,)

In [11]:
print(type(y))

<class 'numpy.ndarray'>

In [12]:
# Splitting DataSet
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30)

In [14]:
# exploring train and test datasets
# Access the shape of x_train
shape = x_train.shape

In [15]:
shape

(124, 1)

In [16]:
shape2 = x_test.shape

In [17]:
shape2

(54, 1)

In [18]:
y.shape

(178,)

In [19]:
print(y_train.shape)

(124,)

In [20]:
print(y_test.shape)

(54,)